.footer {
    border-top: 2px solid #ddd;
    bottom: 0;
    position: absolute;
    padding: 13px;
    width: 100%;
}

.d-felx {
    display: flex;
}

.footer-text {
    white-space: nowrap;
    padding-right: 12px;
    font-size: 12px;
    font-weight: 400;
}

.right {
    margin-left: auto;
}

.justify-content-center {
    justify-content: center !important;
}